<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EpicBDE" connectionString="Data Source=psidb034.pshosting.intranet;UID=reports;PWD=Ilike2ReadData;Database=EpicBDE;" providerName="System.Data.SqlClient" />
    <!--<add name="EpicBDE" connectionString="Data Source=psidb034.pshosting.intranet;UID=reports;PWD=Ilike2ReadData;Database=EpicBDE;" providerName="System.Data.SqlClient" />-->
    <!--<add name="EpicBDE" connectionString="Data Source=psidb034.pshosting.intranet;UID=reports;PWD=Ilike2ReadData;Database=EpicBDE;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="AppliedSDKKey" value="KrG7emIbFR6I9sSZvMyDrDv+00GUKfwxx41ZA7+sJ+Y=" />
    <add key="AppliedSDKDatabase" value="CBL_Staging" />
    <add key="SqlFile" value="C:\Users\Abhishek\Documents\Abhi _ IMP\Sep29\SQLPol.txt" />
    <add key="OutputFile" value="C:\Utils\Epic\LateFeeOut.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="ServiceBinding_2016_01" maxBufferPoolSize="2147483647"
                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                closeTimeout="00:10:00" openTimeout="00:10:00"
              receiveTimeout="00:10:00" sendTimeout="00:10:00">
                <security mode="Transport" />
            </binding>
            <binding name="ServiceBinding_2017_01" maxBufferPoolSize="2147483647"
                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                     closeTimeout="00:10:00" openTimeout="00:10:00"
              receiveTimeout="00:10:00" sendTimeout="00:10:00">
                <security mode="Transport" />
            </binding>
            <binding name="ServiceBinding_2017_02" maxBufferPoolSize="2147483647"
                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                     closeTimeout="00:10:00" openTimeout="00:10:00"
              receiveTimeout="00:10:00" sendTimeout="00:10:00">
                <security mode="Transport" />
            </binding>
            <binding name="ServiceBinding_2018_01" maxBufferPoolSize="2147483647"
                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                     closeTimeout="00:10:00" openTimeout="00:10:00"
              receiveTimeout="00:10:00" sendTimeout="00:10:00">
                <security mode="Transport" />
            </binding>
            <binding name="FileTransferServiceBinding" messageEncoding="Mtom">
                <security mode="Transport" />
            </binding>
        </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://PSIEPC1SDK001.pshosting.intranet/EpicSDK/EpicSDK.svc/v2016_01"
        binding="basicHttpBinding" bindingConfiguration="ServiceBinding_2016_01"
        contract="CBLServiceReference.EpicSDK_2016_01" name="ServiceBinding_2016_01" />
      <endpoint address="https://PSIEPC1SDK001.pshosting.intranet/EpicSDK/EpicSDK.svc/v2017_01"
        binding="basicHttpBinding" bindingConfiguration="ServiceBinding_2017_01"
        contract="CBLServiceReference.EpicSDK_2017_01" name="ServiceBinding_2017_01" />
      <endpoint address="https://PSIEPC1SDK001.pshosting.intranet/EpicSDK/EpicSDK.svc/v2017_02"
        binding="basicHttpBinding" bindingConfiguration="ServiceBinding_2017_02"
        contract="CBLServiceReference.EpicSDK_2017_02" name="ServiceBinding_2017_02" />
      <endpoint address="https://PSIEPC1SDK001.pshosting.intranet/EpicSDK/EpicSDK.svc/v2018_01"
        binding="basicHttpBinding" bindingConfiguration="ServiceBinding_2018_01"
        contract="CBLServiceReference.EpicSDK_2018_01" name="ServiceBinding_2018_01" />
      <endpoint address="https://PSIEPC1SDK001.pshosting.intranet/EpicSDK/EpicSDK.svc/Attachments"
        binding="basicHttpBinding" bindingConfiguration="FileTransferServiceBinding"
        contract="CBLServiceReference.EpicSDKFileTransfer" name="FileTransferServiceBinding" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>